.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginPage > div {
  background: #4e73df;
}

#loginPage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.age-group-treatments {
  width: 100%;
  border-bottom: 1px solid #e3e6f0;
}

.fit-content {
  min-width: fit-content;
}

#logOutButton {
  border-radius: 5px;
  width: 4em;
}

#logOutButton i {
  padding: 1em;
}

#logOutButton:hover {
  background: #e3e6f0;
}

#userInfo{
  align-items: center;
}

.age-group-treatment:nth-child(n+2) {
  border-top: solid #e3e6f0 2px;
}

.table-tool:hover {
  text-decoration: underline;
  cursor: pointer;
}

.table-tool-delete:hover {
  color: red;
}

.table-tool-edit:hover {
  color: #4e73df;
}
